# Notebook Configuration

## Google drive

In [1]:
from google.colab import drive
import sys

# Mount Google Drive
drive.mount('/content/drive')

# Get the absolute path of the current folder
abspath_curr = '/content/drive/My Drive/Colab Notebooks/teaching/gwu/machine_learning_I/homework/homework_2/'

# Get the absolute path of the shallow utilities folder
abspath_util_shallow = '/content/drive/My Drive/Colab Notebooks/teaching/gwu/machine_learning_I/spring_2021/code/utilities/p2_shallow_learning/'

# Get the absolute path of the shallow models folder
abspath_model_shallow = '/content/drive/My Drive/Colab Notebooks/teaching/gwu/machine_learning_I/spring_2021/code/models/p2_shallow_learning/'

Mounted at /content/drive

## Warning

In [2]:
import warnings

# Ignore warnings
warnings.filterwarnings('ignore')

## Matplotlib

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline 

# Set matplotlib sizes
plt.rc('font', size=20)
plt.rc('axes', titlesize=20)
plt.rc('axes', labelsize=20)
plt.rc('xtick', labelsize=20)
plt.rc('ytick', labelsize=20)
plt.rc('legend', fontsize=20)
plt.rc('figure', titlesize=20)

## TensorFlow

In [4]:
# The magic below allows us to use tensorflow version 2.x
%tensorflow_version 2.x 
import tensorflow as tf
from tensorflow import keras

## Random seed

In [5]:
# The random seed
random_seed = 42

# Set random seed in tensorflow
tf.random.set_seed(random_seed)

# Set random seed in numpy
import numpy as np
np.random.seed(random_seed)

# Data Preprocessing

In [6]:
# Change working directory to the absolute path of the shallow utilities folder
%cd $abspath_util_shallow

# Import the shallow utitilities
%run pmlm_utilities_shallow.ipynb

/content/drive/My Drive/Colab Notebooks/teaching/gwu/machine_learning_I/spring_2021/code/utilities/p2_shallow_learning

In [7]:
import pandas as pd

# Load the raw training data
raw_train_df = pd.read_csv(abspath_curr + '/data/santander_customer_transaction/train.csv',
                           header=0)
# Make a copy of df_raw_train
train_df = raw_train_df.copy(deep=True)

# Load the raw test data
raw_test_df = pd.read_csv(abspath_curr + '/data/santander_customer_transaction/test.csv',
                          header=0)
# Make a copy of df_raw_test
test_df = raw_test_df.copy(deep=True)

# Get the name of the target
target = 'target'

In [8]:
pd.DataFrame([[train_df.shape[0],train_df.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  200000        202

In [9]:
pd.DataFrame([[test_df.shape[0], test_df.shape[1]]], columns = ['# rows', '# columns'])

   # rows  # columns
0  200000        201

In [10]:
train_df.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.0930,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.3890,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518
2,train_2,0,8.6093,-2.7457,12.0805,7.8928,10.5825,-9.0837,6.9427,14.6155,...,2.9057,9.7905,1.6704,1.6858,21.6042,3.1417,-6.5213,8.2675,14.7222,0.3965
3,train_3,0,11.0604,-2.1518,8.9522,7.1957,12.5846,-1.8361,5.8428,14.9250,...,4.4666,4.7433,0.7178,1.4214,23.0347,-1.2706,-2.9275,10.2922,17.9697,-8.9996
4,train_4,0,9.8369,-1.4834,12.8746,6.6375,12.2772,2.4486,5.9405,19.2514,...,-1.4905,9.5214,-0.1508,9.1942,13.2876,-1.5121,3.9267,9.5031,17.9974,-8.8104

In [11]:
test_df.head()

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,test_0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,test_1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760
2,test_2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,...,-0.7484,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794
3,test_3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,...,9.5702,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108
4,test_4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,...,4.2259,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846

### Splitting the Data

In [12]:
from sklearn.model_selection import train_test_split

# Divide the training data into training (80%) and validation (20%)
train_df, val_df = train_test_split(train_df, train_size=0.8, random_state=random_seed)

# Reset the index
train_df, val_df = train_df.reset_index(drop=True), val_df.reset_index(drop=True)

In [13]:
pd.DataFrame([[train_df.shape[0], train_df.shape[1]]], columns = ['# rows', '# column'])

   # rows  # column
0  160000       202

In [14]:
pd.DataFrame([[val_df.shape[0], val_df.shape[1]]], columns = ['# rows', '# column'])

   # rows  # column
0   40000       202

## Handling Uncommon Features

In [15]:
# Used implementation in pmlm_utilities.ipynb
df_common_var = common_var_checker(train_df, val_df, test_df, target)

# Print df_common_var
df_common_var

    common var
0      ID_code
1       target
2        var_0
3        var_1
4       var_10
..         ...
197     var_95
198     var_96
199     var_97
200     var_98
201     var_99

[202 rows x 1 columns]

In [16]:
# Get the features in the training data but not in the validation or test data
uncommon_feature_train_not_val_test = np.setdiff1d(train_df.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_train_not_val_test, columns=['uncommon feature'])

Empty DataFrame
Columns: [uncommon feature]
Index: []

In [17]:
# Get the features in the validation data but not in the training or test data
uncommon_feature_val_not_train_test = np.setdiff1d(val_df.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_val_not_train_test, columns=['uncommon feature'])

Empty DataFrame
Columns: [uncommon feature]
Index: []

In [18]:
# Get the features in the validation data but not in the training or test data
uncommon_feature_test_not_train_val = np.setdiff1d(test_df.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_val_not_train_test, columns=['uncommon feature'])

Empty DataFrame
Columns: [uncommon feature]
Index: []

In [19]:
# Remove the uncommon features from the training data
df_train = train_df.drop(columns=uncommon_feature_train_not_val_test)

# Print the first 5 rows of df_train
train_df.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_153248,0,12.3039,-8.3899,9.1944,8.0649,9.0247,-1.9559,5.1565,21.1631,...,5.5185,7.9504,0.9184,5.9945,11.0078,-1.0936,-2.3412,8.1712,12.9046,-1.9309
1,train_67802,0,15.4069,2.7820,9.2951,7.1997,8.5359,-4.5422,5.4210,9.9651,...,3.0063,5.6555,2.1527,1.3518,15.4728,0.2686,6.5523,8.4698,22.0454,1.4756
2,train_148889,0,9.6427,-4.6261,6.9610,5.4054,12.0859,-11.2917,4.5290,13.8605,...,3.4351,9.1779,1.5004,1.9895,20.4072,-0.1118,0.5692,9.3290,12.8980,-9.4318
3,train_103093,1,9.6881,-5.6696,11.2709,8.2812,13.9232,-16.1434,4.9664,20.1092,...,-4.9494,9.2727,1.1371,3.7435,20.6906,1.3752,7.4442,9.2145,18.2777,-2.5865
4,train_104681,0,7.1128,-2.0830,11.4807,8.3033,10.6180,-6.4743,5.0078,21.0212,...,7.3583,8.1992,1.3436,8.8929,21.6711,-2.0557,6.4975,8.3110,13.7728,-5.9028

In [20]:
# Remove the uncommon features from the validation data
val_df = val_df.drop(columns=uncommon_feature_val_not_train_test)

# Print the first 5 rows of df_val
val_df.head()

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_119737,0,11.0038,-4.5026,9.0662,6.4313,10.7061,-15.2857,5.1233,16.7875,...,-0.8200,3.3085,3.1358,5.0959,19.7160,-0.1801,5.8437,8.8348,17.0461,8.8190
1,train_72272,0,12.8473,-6.1848,6.8799,2.0164,12.7998,10.2781,4.4191,15.6940,...,1.1516,3.9019,4.6616,7.6035,12.6402,-0.3037,-4.2330,9.7456,14.8337,-3.7167
2,train_158154,0,13.1827,-0.8344,13.4689,3.9060,13.5984,4.6475,5.9659,24.0557,...,2.8737,5.8939,0.8525,8.7406,16.6641,0.8745,7.0406,8.6424,20.7107,-5.4186
3,train_65426,0,8.2132,1.2309,11.1464,9.4524,10.2142,4.0416,5.3989,20.4527,...,6.4752,5.7442,2.1907,6.0651,10.9444,-2.0666,-7.9209,9.0522,17.1735,12.4656
4,train_30074,1,5.5681,4.6355,15.2350,3.0718,11.8178,-15.0502,3.8357,12.0169,...,4.1796,5.6113,-0.1561,3.1010,17.4297,-1.0121,-6.5168,7.9772,18.5248,11.2771

In [21]:
 #Remove the uncommon features from the test data
test_df = test_df.drop(columns=uncommon_feature_test_not_train_val)

# Print the first 5 rows of df_test
test_df.head()

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,test_0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,test_1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760
2,test_2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,...,-0.7484,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794
3,test_3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,...,9.5702,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108
4,test_4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,...,4.2259,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846

## Handling Identifiers

In [22]:
# Combine df_train, df_val and df_test
df = pd.concat([train_df, val_df, test_df], sort=False)

In [23]:
# Used the implementation in pmlm_utilities.ipynb
df_id = id_checker(df)

# Print the first 5 rows of df_id
df_id.head()

        ID_code
0  train_153248
1   train_67802
2  train_148889
3  train_103093
4  train_104681

In [24]:
import numpy as np

# Remove identifiers from df_train
train_df.drop(columns=np.intersect1d(df_id.columns, train_df.columns), inplace=True)

# Remove identifiers from df_val
val_df.drop(columns=np.intersect1d(df_id.columns, val_df.columns), inplace=True)

# Remove identifiers from df_test
test_df.drop(columns=np.intersect1d(df_id.columns, test_df.columns), inplace=True)

In [25]:
train_df.head()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,0,12.3039,-8.3899,9.1944,8.0649,9.0247,-1.9559,5.1565,21.1631,2.7437,...,5.5185,7.9504,0.9184,5.9945,11.0078,-1.0936,-2.3412,8.1712,12.9046,-1.9309
1,0,15.4069,2.7820,9.2951,7.1997,8.5359,-4.5422,5.4210,9.9651,4.0623,...,3.0063,5.6555,2.1527,1.3518,15.4728,0.2686,6.5523,8.4698,22.0454,1.4756
2,0,9.6427,-4.6261,6.9610,5.4054,12.0859,-11.2917,4.5290,13.8605,-0.8366,...,3.4351,9.1779,1.5004,1.9895,20.4072,-0.1118,0.5692,9.3290,12.8980,-9.4318
3,1,9.6881,-5.6696,11.2709,8.2812,13.9232,-16.1434,4.9664,20.1092,-5.9868,...,-4.9494,9.2727,1.1371,3.7435,20.6906,1.3752,7.4442,9.2145,18.2777,-2.5865
4,0,7.1128,-2.0830,11.4807,8.3033,10.6180,-6.4743,5.0078,21.0212,-4.9779,...,7.3583,8.1992,1.3436,8.8929,21.6711,-2.0557,6.4975,8.3110,13.7728,-5.9028

In [26]:
val_df.head()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,0,11.0038,-4.5026,9.0662,6.4313,10.7061,-15.2857,5.1233,16.7875,4.1833,...,-0.8200,3.3085,3.1358,5.0959,19.7160,-0.1801,5.8437,8.8348,17.0461,8.8190
1,0,12.8473,-6.1848,6.8799,2.0164,12.7998,10.2781,4.4191,15.6940,-0.6788,...,1.1516,3.9019,4.6616,7.6035,12.6402,-0.3037,-4.2330,9.7456,14.8337,-3.7167
2,0,13.1827,-0.8344,13.4689,3.9060,13.5984,4.6475,5.9659,24.0557,3.8743,...,2.8737,5.8939,0.8525,8.7406,16.6641,0.8745,7.0406,8.6424,20.7107,-5.4186
3,0,8.2132,1.2309,11.1464,9.4524,10.2142,4.0416,5.3989,20.4527,0.2915,...,6.4752,5.7442,2.1907,6.0651,10.9444,-2.0666,-7.9209,9.0522,17.1735,12.4656
4,1,5.5681,4.6355,15.2350,3.0718,11.8178,-15.0502,3.8357,12.0169,3.2997,...,4.1796,5.6113,-0.1561,3.1010,17.4297,-1.0121,-6.5168,7.9772,18.5248,11.2771

In [27]:
test_df.head()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,8.8100,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,5.9739,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760
2,5.4827,-10.3581,10.1407,7.0479,10.2628,9.8052,4.8950,20.2537,1.5233,8.3442,...,-0.7484,10.9935,1.9803,2.1800,12.9813,2.1281,-7.1086,7.0618,19.8956,-23.1794
3,8.5374,-1.3222,12.0220,6.5749,8.8458,3.1744,4.9397,20.5660,3.3755,7.4578,...,9.5702,9.0766,1.6580,3.5813,15.1874,3.1656,3.9567,9.2295,13.0168,-4.2108
4,11.7058,-0.1327,14.1295,7.7506,9.1035,-8.5848,6.8595,10.6048,2.9890,7.1437,...,4.2259,9.1723,1.2835,3.3778,19.5542,-0.2860,-5.1612,7.2882,13.9260,-9.1846

## Handling Missing Data

In [28]:
# Combine df_train, df_val and df_test
df = pd.concat([train_df, val_df, test_df], sort=False)

In [29]:
# Used the implementation in pmlm_utilities.ipynb
df_nan = nan_checker(df)

# Print df_nan
# 50% of our combined data is missing target value, we expected that because test_df did not have target values
df_nan

      var  proportion    dtype
0  target         0.5  float64

In [30]:
# Print the unique data type of variables with NaN
pd.DataFrame(df_nan['dtype'].unique(), columns=['dtype'])

     dtype
0  float64

In [31]:
df_miss = df_nan[df_nan['dtype'] == 'float64'].reset_index(drop=True)

# Print df_miss
df_miss

      var  proportion    dtype
0  target         0.5  float64

## Separating Training, Validation and Test Data

In [32]:
train_df = df.iloc[:train_df.shape[0], :]

# Separating the validation data
val_df = df.iloc[train_df.shape[0]:train_df.shape[0] + val_df.shape[0], :]

# Separating the test data
test_df = df.iloc[train_df.shape[0] + val_df.shape[0]:, :]

In [33]:
# Print the dimension of train_df
pd.DataFrame([[train_df.shape[0], train_df.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  160000        201

In [34]:
# Print the dimension of val_df
pd.DataFrame([[val_df.shape[0], val_df.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0   40000        201

In [35]:
# Print the dimension of test_df
pd.DataFrame([[test_df.shape[0], test_df.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  200000        201

In [36]:
from sklearn.impute import SimpleImputer

# If there are missing values
if len(df_miss['var']) > 0:
    # The SimpleImputer
    si = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

    # Impute the variables with missing values in df_train, df_val and df_test 
    train_df[df_miss['var']] = si.fit_transform(train_df[df_miss['var']])
    val_df[df_miss['var']] = si.transform(val_df[df_miss['var']])
    test_df[df_miss['var']] = si.transform(test_df[df_miss['var']])

## Encoding the Data

In [37]:
# Combine df_train, df_val and df_test
df = pd.concat([train_df, val_df, test_df], sort=False)

# Print the unique data type of variables in df
pd.DataFrame(df.dtypes.unique(), columns=['dtype'])

     dtype
0  float64

In [38]:
# See the implementation in pmlm_utilities.ipynb
df_cat = cat_var_checker(df)

# Print the dataframe
df_cat

Empty DataFrame
Columns: [var, nunique]
Index: []

In [39]:
train_df = df.iloc[:train_df.shape[0], :]

# Separating the validation data
val_df = df.iloc[train_df.shape[0]:train_df.shape[0] + val_df.shape[0], :]

# Separating the test data
test_df = df.iloc[train_df.shape[0] + val_df.shape[0]:, :]

In [40]:
# Print the dimension of train_df
pd.DataFrame([[train_df.shape[0], train_df.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  160000        201

In [41]:
# Print the dimension of val_df
pd.DataFrame([[val_df.shape[0], val_df.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0   40000        201

In [42]:
# Print the dimension of test_df
pd.DataFrame([[test_df.shape[0], test_df.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  200000        201

In [43]:
from sklearn.preprocessing import LabelEncoder

# The LabelEncoder
le = LabelEncoder()

# Encode categorical target in the combined data
df[target] = le.fit_transform(df[target])

# Print the first 5 rows of df
df.head()

,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,0,12.3039,-8.3899,9.1944,8.0649,9.0247,-1.9559,5.1565,21.1631,2.7437,...,5.5185,7.9504,0.9184,5.9945,11.0078,-1.0936,-2.3412,8.1712,12.9046,-1.9309
1,0,15.4069,2.7820,9.2951,7.1997,8.5359,-4.5422,5.4210,9.9651,4.0623,...,3.0063,5.6555,2.1527,1.3518,15.4728,0.2686,6.5523,8.4698,22.0454,1.4756
2,0,9.6427,-4.6261,6.9610,5.4054,12.0859,-11.2917,4.5290,13.8605,-0.8366,...,3.4351,9.1779,1.5004,1.9895,20.4072,-0.1118,0.5692,9.3290,12.8980,-9.4318
3,1,9.6881,-5.6696,11.2709,8.2812,13.9232,-16.1434,4.9664,20.1092,-5.9868,...,-4.9494,9.2727,1.1371,3.7435,20.6906,1.3752,7.4442,9.2145,18.2777,-2.5865
4,0,7.1128,-2.0830,11.4807,8.3033,10.6180,-6.4743,5.0078,21.0212,-4.9779,...,7.3583,8.1992,1.3436,8.8929,21.6711,-2.0557,6.4975,8.3110,13.7728,-5.9028

In [44]:
# Separating the training data
train_df = df.iloc[:train_df.shape[0], :]

# Separating the validation data
val_df = df.iloc[train_df.shape[0]:train_df.shape[0] + val_df.shape[0], :]

# Separating the test data
test_df = df.iloc[train_df.shape[0] + val_df.shape[0]:, :]

In [45]:
pd.DataFrame([[train_df.shape[0], train_df.shape[1]]], columns= ['# rows', '# columnss'])

   # rows  # columnss
0  160000         201

In [46]:
pd.DataFrame([[val_df.shape[0], val_df.shape[1]]], columns= ['# rows', '# columns'])

   # rows  # columns
0   40000        201

In [47]:
pd.DataFrame([[test_df.shape[0], test_df.shape[1]]], columns= ['# rows','# columns'])

   # rows  # columns
0  200000        201

## Splitting Feature and target

In [48]:
# Get the feature matrix
X_train = train_df[np.setdiff1d(train_df.columns, [target])].values
X_val = val_df[np.setdiff1d(val_df.columns, [target])].values
X_test = test_df[np.setdiff1d(test_df.columns, [target])].values

# Get the target vector
y_train = train_df[target].values
y_val = val_df[target].values
y_test = test_df[target].values

## Scaling the Data

In [49]:
from sklearn.preprocessing import MinMaxScaler

# The MinMaxScaler
mms = MinMaxScaler()

In [50]:
# Standardize the training data
X_train = mms.fit_transform(X_train)

# Standardize the validation data
X_val = mms.transform(X_val)

# Standardize the test data
X_test = mms.transform(X_test)

# Hyperparameter Tuning

In [51]:
# Change working directory to the absolute path of the shallow models folder
%cd $abspath_model_shallow

# Import the shallow models
%run pmlm_models_shallow.ipynb

/content/drive/My Drive/Colab Notebooks/teaching/gwu/machine_learning_I/spring_2021/code/models/p2_shallow_learning

In [52]:
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier

models = {'lr': LogisticRegression(class_weight='balanced', random_state=random_seed),
          'lr_mbgd': LogisticRegression_MBGD(),
          'mlpc': MLPClassifier(early_stopping=True, random_state=random_seed)}

## Creating the Dictionary of the Pipelines

In [53]:
from sklearn.pipeline import Pipeline

pipes = {}

for acronym, model in models.items():
    pipes[acronym] = Pipeline([('model', model)])

### Getting the predefined split-cross-validator

In [54]:
X_train_val, y_train_val, ps = get_train_val_ps(X_train, y_train, X_val, y_val)

## GridSearchCV

In [55]:
param_grids = {}

### The parameter grid for logisticRegression

In [56]:
# The parameter grid of tol
tol_grid = [10 ** -7, 10 ** -4, 10 ** -2]

# The parameter grid of C
C_grid = [0.01, 1, 5]

# Update param_grids
param_grids['lr'] = [{'model__tol': tol_grid,
                      'model__C': C_grid}]

### The parameter grid for logisticRegression_MBGD

In [57]:
# The parameter grid of eta
eta_grid = [10 ** -3, 10 ** -2, 10 ** -1]

# The parameter grid of alpha
alpha_grid = [0.1, 1, 10]

# Update param_grids
param_grids['lr_mbgd'] = [{'model__eta': eta_grid,
                           'model__alpha': alpha_grid}]

### The parameter grid for MLPClassifier

In [58]:
# The grids for alpha
alpha_grids = [10 ** i for i in range(-7, -1)]

# The grids for learning_rate_init
learning_rate_init_grids = [10 ** i for i in range(-3, -1)]

# Update param_grids
param_grids['mlpc'] = [{'model__alpha': alpha_grids,
                        'model__learning_rate_init': learning_rate_init_grids}]

In [59]:

# Make directory
directory = os.path.dirname(abspath_curr + '/result/santander_customer_transaction/cv_results/GridSearchCV/')
if not os.path.exists(directory):
    os.makedirs(directory)

In [ ]:
from sklearn.model_selection import GridSearchCV

# The list of [best_score_, best_params_, best_estimator_] obtained by GridSearchCV
best_score_params_estimator_gs = []

# For each model
for acronym in pipes.keys():
    # GridSearchCV
    gs = GridSearchCV(estimator=pipes[acronym],
                      param_grid=param_grids[acronym],
                      scoring='f1_macro',
                      n_jobs=2,
                      cv=ps,
                      return_train_score=True)
        
    # Fit the pipeline
    gs = gs.fit(X_train_val, y_train_val)
    
    # Update best_score_params_estimator_gs
    best_score_params_estimator_gs.append([gs.best_score_, gs.best_params_, gs.best_estimator_])
    
    # Sort cv_results in ascending order of 'rank_test_score' and 'std_test_score'
    cv_results = pd.DataFrame.from_dict(gs.cv_results_).sort_values(by=['rank_test_score', 'std_test_score'])
    
    # Get the important columns in cv_results
    important_columns = ['rank_test_score',
                         'mean_test_score', 
                         'std_test_score', 
                         'mean_train_score', 
                         'std_train_score',
                         'mean_fit_time', 
                         'std_fit_time',                        
                         'mean_score_time', 
                         'std_score_time']
    
    # Move the important columns ahead
    cv_results = cv_results[important_columns + sorted(list(set(cv_results.columns) - set(important_columns)))]

    # Write cv_results file
    cv_results.to_csv(path_or_buf=abspath_curr + '/result/santander_customer_transaction/cv_results/GridSearchCV/' + acronym + '.csv', index=False)

# Sort best_score_params_estimator_gs in descending order of the best_score_
best_score_params_estimator_gs = sorted(best_score_params_estimator_gs, key=lambda x : x[0], reverse=True)

# Print best_score_params_estimator_gs
pd.DataFrame(best_score_params_estimator_gs, columns=['best_score', 'best_param', 'best_estimator'])

# Model Selection

In [ ]:
best_score_gs, best_params_gs, best_estimator_gs = best_score_params_estimator_gs[0]

# Generating the Submission File
Use the best model selected earlier to generate the submission file for this kaggle competition.

## Creating the directory for the submission file

In [ ]:
# Make directory
directory = os.path.dirname(abspath_curr + '/result/submission/')
if not os.path.exists(directory):
    os.makedirs(directory)

## Generating the submission file

In [ ]:
# Get the prediction on the test data using the best model
y_test_pred = best_estimator_gs.predict(X_test)

# Transform y_test_pred back to the original class
y_test_pred = le.inverse_transform(y_test_pred)

# Get the submission dataframe
df_submit = pd.DataFrame(np.hstack((raw_test_df[['ID_code']], y_test_pred.reshape(-1, 1))),
                         columns=['ID_code', target])                                                                                     

# Generate the submission file
df_submit.to_csv(abspath_curr + '/result/submission/submission.csv', index=False)